/* Scrollbar genişliği ve yüksekliği */
::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    
  }
  
  /* Scrollbar tutamacı */
  ::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 100%, 0.1);
    border-radius: 10px;
  }
  
  /* Hover olduğunda scrollbar tutamacı rengi */
  ::-webkit-scrollbar-thumb:hover {
    background: #f93e61;
  }
  
 